<app-heder title="Estadisticas"></app-heder>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Horario</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <!-- Fila de los días de la semana -->
    <ion-row>
      <ion-col class="header"></ion-col>
      <ion-col class="header">Lunes</ion-col>
      <ion-col class="header">Martes</ion-col>
      <ion-col class="header">Miércoles</ion-col>
      <ion-col class="header">Jueves</ion-col>
      <ion-col class="header">Viernes</ion-col>
      <ion-col class="header">Sábado</ion-col>
    </ion-row>

    <!-- Fila de horarios -->
    <ion-row>
      <ion-col class="time">08:00 - 09:00</ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="time">09:00 - 10:00</ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="time">11:00 - 12:00</ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="time">13:00 - 14:00</ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="time">15:00 - 16:00</ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
      <ion-col class="empty"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
