/* Estilos generales para los encabezados */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Usar una fuente consistente */
}

::-webkit-scrollbar {
  width: 0; /* Elimina la barra de desplazamiento */
}

/* Estilo de ion-content */
ion-content {
  --background: #f1d65ea3;  /* Color de fondo */
  padding: 20px;
}

/* Espaciado superior en el contenido */
.content-padding {
  margin-top: 20px;
}

/* Estilos para el contenedor de clases */
.schedule-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Solo una columna para las clases */
  grid-gap: 10px;
  margin-top: 20px; /* Espacio entre las clases y el título */
}

/* Estilos para cada clase en la lista */
.schedule-grid div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: 16px;
  background-color: #fff;  /* Fondo blanco para las clases */
  border-radius: 8px;  /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Sombra sutil */
  border: 1px solid #ddd; /* Borde suave */
}

/* Encabezado de cada clase */
.schedule-grid div h2 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

/* Estilos para las clases con hora */
.time {
  background-color: #ffeb3b;
  color: #000;
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
}

/* Estilos para clases sin horario programado */
.empty {
  background-color: #e0e0e0;
  color: #888;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

/* Ajustes visuales cuando no hay clases */
.no-classes-message {
  font-size: 18px;
  text-align: center;
  color: #888;
  margin-top: 20px;
  font-weight: bold;
}

/* Mejora de la apariencia de los botones */
ion-button {
  --background: #4CAF50; /* Verde como color principal */
  --color: white; /* Texto en blanco */
  --border-radius: 10px; /* Bordes redondeados */
  margin-top: 15px;
}

/* Estilo para el mensaje de bienvenida */
h1 {
  font-size: 24px;
  color: #333;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

/* Estilo para los párrafos de texto */
p {
  font-size: 16px;
  color: #666;
  text-align: center;
}

/* Estilo para el cuadro de futuras clases */
.futuras-clases {
  background-color: #003366; /* Azul oscuro */
  color: #000000; /* Texto en negro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
  margin-top: 20px;
}

.futuras-clases h3 {
  color: #ffffff; /* Título de las futuras clases en blanco */
  font-size: 20px;
  margin-bottom: 10px;
}

.futuras-clases p {
  color: #ffffff; /* Texto de las futuras clases en blanco */
  font-size: 16px;
}
