<app-heder title="Estadisticas"></app-heder>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Horario</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="schedule-grid">
    <!-- Días de la semana -->
    <div class="header"></div>
    <div class="header">Lunes</div>
    <div class="header">Martes</div>
    <div class="header">Miércoles</div>
    <div class="header">Jueves</div>
    <div class="header">Viernes</div>
    <div class="header">Sábado</div>

    <!-- Horarios -->
    <div class="time">08:00 - 09:00</div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>

    <div class="time">09:00 - 10:00</div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>

    <div class="time">10:00 - 11:00</div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>

    <!-- Puedes añadir más horarios según sea necesario -->
  </div>
</ion-content>
