h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
}

ion-content {
    --background: #1a1a1a; // Fondo oscuro
    h4.location {
        font-size: 1em;
        font-weight: bold;
        color: aliceblue;
        text-align: center;
    }
    .main-info {
        text-align: center;
        margin-top: 4em;
        img {
            height: 6em;
        }
        h5 {
            margin-top: 1em;
            color: azure;
            font-size: 1em;
            font-weight: bold;
        }
        h1 {
            font-size: 5em;
        }
    }
    .other-info {
        white-space: nowrap;
        overflow-x: auto;
        margin-top: 2em;
        display: flex;
        justify-content: space-around;
        ion-card {
            display: inline-block;
            min-width: 150px;
            text-align: center;
            scroll-behavior: smooth;
            margin: 0;
            margin-right: 15px;
            background-color: #f5f5f5;
            .info {
                
                padding: 0.2em; /* Agrega un padding uniforme alrededor del contenido */
                margin-top: 1em;
                
                h5 {
                    font-weight: bold;
                    color: #9caba9;
                    margin-bottom: 3px;
                }
                h3 {
                    font-size: 1.3em;
                    font-weight: bold;
                    color: #434343;
                }
            }
        }
    }
    .hourly{
        margin-top: 1em;
        h3{
            font-size: 1.1em;
            font-weight: bold;        }
    }
    .hourly-info{
        white-space: nowrap;
        overflow-x: auto;
        .info{
            display: inline-block;
            text-align: center;
            min-width: fit-content;
            scroll-behavior: smooth;
            margin-right: 2em;
            img{
                height: 2em;
                width: 2em;
            }
            p{
                color: #9caba9;
                font-size: 0.9em;
            }
        }
    }
}
