/* Estilo para centrar el contenido */
ion-content {
  --background: #F7D9A0; /* Fondo claro */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Asegura que todo el texto también esté centrado */
  padding: 20px;
}

/* Contenedor del mensaje de bienvenida */
.welcome-container {
  margin-bottom: 30px; /* Espacio entre la bienvenida y las clases */
}

.welcome-container h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Texto oscuro */
  margin-bottom: 10px;
}

.welcome-container p {
  font-size: 16px;
  color: #666; /* Texto gris */
}

/* Contenedor de las clases futuras */
.futuras-clases {
  width: 100%; /* Asegura que no se limite el ancho */
  max-width: 400px; /* Define un ancho máximo para mantenerlo compacto */
  margin-top: 20px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el contenedor */
}

.futuras-clases p {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

/* Mensaje cuando no hay clases */
.no-classes-message {
  margin-top: 30px;
  font-size: 16px;
  color: #999; /* Texto gris claro */
}

/* Botones */
ion-button {
  margin-top: 20px;
  --background: #333; /* Fondo oscuro para los botones */
  --color: #fff; /* Texto blanco */
  border-radius: 5px;
  padding: 10px 20px;
}

ion-button:hover {
  --background: #555; /* Cambio de color en hover */
}

ion-card {
  --background: #f5f5f5; /* Fondo claro para el recuadro */
  --border-radius: 10px; /* Bordes redondeados */
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  margin-top: 20px; /* Espacio arriba del recuadro */
}

ion-card-header {
  --background: #A5C08A; 
  --color: white; /* Texto blanco en el encabezado */
  padding: 10px 20px;
}

ion-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

ion-card-content {
  padding: 20px;
}

ion-item {
  --background: transparent; /* Fondo transparente para el item */
  --padding-start: 0; /* Sin padding a la izquierda */
}

ion-label {
  font-size: 1rem;
}

ion-label p {
  margin: 5px 0; /* Márgenes entre párrafos */
}

p {
  color: #333; /* Texto oscuro */
}

div.no-clases {
  font-style: italic;
  color: #888; /* Color gris para el mensaje sin clases */
}
