<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>¡Hola, {{ userName || 'Usuario' }}!</h1>
  <p>Bienvenido a tu plataforma de asistencia.</p>

  <div class="futuras-clases" *ngIf="futureClasses.length > 0">
    <p>Clases programadas para hoy:</p>
    <div *ngFor="let clase of futureClasses">
      <p>{{ clase.name }} - {{ clase.time }} - {{ clase.sala }}</p>
    </div>
  </div>

  <div class="no-classes-message" *ngIf="futureClasses.length === 0">
    <p>No tienes clases programadas para hoy.</p>
  </div>
</ion-content>
