<ion-tabs  >
  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="home">
      <ion-icon name="person-sharp"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="estadisticas">
      <ion-icon name="football"></ion-icon>
      Estadisticas
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="calendar"></ion-icon>
      Agenda
    </ion-tab-button>
    <ion-tab-button tab="configuracion">
      <ion-icon name="cog"></ion-icon>
      Configuracion
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

