ion-header {
  --background: #0077cc; /* Azul primario */
  --color: #ffffff; /* Texto blanco */
}

ion-toolbar {
  --background: #005fa3; /* Azul más oscuro */
  --color: #ffffff; /* Texto blanco */
}

ion-content {
  background: #f0f8ff; /* Fondo azul claro */
}

.profile-header {
  text-align: center;
  padding: 20px;
  background: linear-gradient(135deg, #0077cc, #005fa3); /* Degradado azul */
  color: #ffffff;
  border-radius: 0 0 20px 20px;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 50px solid #ffffff;
  margin: 5px auto;
}

.profile-name {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0;
}

.profile-info {
  font-size: 1em;
  margin: 5px 0;
  color: #e0e0e0; /* Texto gris claro */
}
